*{box-sizing: border-box;
}


/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v27-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v27-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v27-latin_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v27-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v27-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v27-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v27-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}


a{
  text-decoration: none;
}

ul{
  list-style:none;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

html{
  font-family:'Open Sans';
}

.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn{
  display: inline-block;
  padding: 15px 30px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: white;
  background-color: #3172b9;
  border-radius: 4px;
  cursor:pointer;
}

.btn.btn-big{
padding: 20px 60px;
}

.text-centr{
  text-align: center;
}

.section-heading{
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 300;
  color: #1c1c1c;
  margin-bottom: 35px;
}

/*Header*/
.header{
 height: 110px;
 border-bottom: 1px solid #e4e4e4 ;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo{
  width: 115px;
  height: 44px;
}

.nav-list{
  display: flex;
  margin: auto;
}

.nav-item:not(:last-child){
margin-right: 50px;
}

.nav-item{
  font-size: 15px;
  line-height: 1;
}
.nav-link{
  color: #1c1c1c;
}

.nav-item.is-active .nav-link{
  color: #3172b9;
}

.header-btn{
  margin-left: 40px;
}

/*Hero*/

.section-hero{
background-image: url('../img/hero.jpg');
background-position: right center;
background-repeat: no-repeat;
background-color: white;
background-size: contain;

}

.hero-container{
   padding-top: 120px;
   padding-bottom: 130px;
}

.hero-content{
  max-width: 50%;
}

.section-hero-heading{
  margin-bottom: 30px;
  margin: 0;
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  color: #1c1c1c;
}

.section-hero-descriotion{
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 25px;
  color: #787878;
}

.hero-action{
  display: inline-block;
}

.section-hero-btn-description{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 11px;
  line-height: 1;
  color: #787878;
  text-transform: uppercase;
  text-align: center;
}

.ssl-icon{
  display: inline-block;
  width: 13px;
  height: 17px;
  margin-right: 10px;
  background: url('../img/щит.svg') center center no-repeat transparent;
  background-size: contain;
  transform: translateY(-1px);
}

/*What we do*/
.section-do{
  padding-top: 140px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e4e4e4 ;

}


.section-description{
  margin-top: 0;
  font-size: 16px;
  line-height: 21px;
  color: #787878;
}

.section-do-list{
  display: flex;
  margin-top: 50px;
}

.section-do-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  flex: 1 1 25%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.section-do-item:not(:last-child){
margin-right: 30px;
}

.section-do-icon{
  width: 60px;
  height: 65px;
margin-bottom: 30px;
}

.section-do-item-heading{
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: #1c1c1c;
}

.section-do-item-description{
  margin-top: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #787878;
}
/*clients*/
.section-clients{
  padding-top: 90px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e4e4e4 ;
}

.section-clients-heading{
  margin-bottom: 45px;
}

.section-clients-list{
  display: flex;
}

.section-clients-list-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 33.33%;
 padding: 50px 35px 30px ;
 border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.section-clients-testimonial{
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #787878;
}

.section-clients-list-item:not(:last-child){
  margin-right: 30px;
}

.section-clients-user{
  display: flex;
align-items: center;
border-top: 1px solid #e9e9e9;
padding-top: 28px;
}

.section-clients-avatar{
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.section-clients-username{
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  color:#1c1c1c;
}

.section-clients-user-description{
  font-size: 14px;
  line-height: 25px;
  color: #787878;
}

/*contacts*/
.section-contacts {
  padding-top: 85px;
  padding-bottom: 95px;
  border-bottom: 1px solid #e4e4e4 ;
}

.sectio-contacts-list{
  display: flex;
  margin: top 43px;

}

.section-contackts-item{
  flex: 1 1 33.33%;
}

.section-contacts-info{
  max-width: 250px;
  font-size: 14px;
  line-height: 25px;
  color: #787878;
}

.section-contacts-icon{
  display: block;
  margin-bottom: 25px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}

.section-contacts-icon-gps{
  background-image: url('../img/gps.png');
}

.section-contacts-icon-phone{
  background-image: url('../img/phone.png');
}

.section-contacts-icon-mail{
  background-image: url('../img/mail.png');
  background-size: auto 19px;
}

.section-contacts-header{
  display: block;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 1;
  color: #1c1c1c;
}

.section-contacts-link{
  color: #1c1c1c;
}




/*footer*/
.footer{
  height: 125px;
}

.footer-container{
  display:flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-left{
display: flex;
align-items: center;
}

.footer-logo{
  margin-right: 25px;
}

.footer-logo-img{
  width: 115px;
  height: 44px;

}

.footer-nav-list{
display: flex;
align-items: center;
}

.footer-nav-item:not(:last-child){
  margin-right: 35px;
}
